<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <!-- 	bootstrap css-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">Navbar</a>
            <button
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              data-target="#navbarNavDropdown"
              data-toggle="collapse"
              type="button"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    aria-expanded="false"
                    aria-haspopup="true"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                  >
                    Dropdown link
                  </a>
                  <div
                    aria-labelledby="navbarDropdownMenuLink"
                    class="dropdown-menu"
                  >
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- texto para scroll -->
		
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          rem nemo nihil magni excepturi, non laborum numquam eius! Dolores rem
          beatae modi exercitationem! Ullam ea consequuntur sunt similique a
          quas, doloribus nihil maxime inventore fuga itaque, impedit tenetur,
          distinctio suscipit cumque! Neque quod blanditiis assumenda
          recusandae, distinctio optio dolor fuga adipisci perspiciatis
          laudantium. Maosam iusto maiores saepe sed
          impedit ut officia quae quaerat numquam a tempore vero mollitia, vitae
          obcaecati dolorum! Aliquam odio quod ipsa fugiat aliquid atque!
          Perspiciatis nam alias eius consectetur unde similique molestias,
          quisquam soluta possimus vitae fugit blanditiis impedit, ut
          consequuntur quta quibusdam vel quam alias commodi
          aperiam! Reiciendis reprehenderit neque, perspiciatis similique sit
          accusantium dolores, autem laudantium asperiores possimus repellat,
          corrupti perferendis cumque veniam dignissimos! Itaque tempore
          consequuntur laudantium? Cumque possimus sint officia ratione
          sapiente. Modi, illo exercitationem nobis commodi magni voluptates
          explicabo. Quis blanditiis velit voluptate libero repellat accusamus
          laudantium minima! Vitae hic dolorum repellat? Error neque quas,
          voluptatem hic fugiat nostrum repudiandae est. Perspiciatis, vel
          cumque excepturi, unde explicabo consequuntur maiores ab sapiente nisi
          ipsum, nam repudiandae voluptatem doloremque libero omnis ipsam ipsa
          nemo fugiat sit nesciunt rerum sed ad. In animi autem, amet ducimus
          illum maiores a excepturi quasi ipsam accusantium! Consequuntur ut
          laboriosam vitae rerum, magnam omnis atque odio! Dolorum quo nam ipsa
          dice neque atque rerum fugit quae? Temporaffffffffff
		  lorum! Aliquam odio quod ipsa fugiat aliquid atque!
          Perspiciatis nam alias eius consectetur unde similique molestias,
          quisquam soluta possimus vitae fugit blanditiis impedit, ut
          consequuntur quta quibusdam vel quam alias commodi
          aperiam! Reiciendis reprehenderit neque, perspiciatis similique sit
          accusantium dolores, autem laudantium asperiores possimus repellat,
          corrupti perferendis cumque veniam dignissimos! Itaque tempore
          consequuntur laudantium? Cumque possimus sint officia ratione
          sapiente. Modi, illo exercitationem nobis commodi magni voluptates
          explicabo. Quis blanditiis velit voluptate libero repellat accusamus
          laudantium minima! Vitae hic dolorum repellat? Error neque quas,
          voluptatem hic fugiat nostrum repudiandae est. Perspiciatis, vel
          cumque excepturi, unde explicabo consequuntur maiores ab sapiente nisi
          ipsum, nam repudiandae voluptatem doloremque libero omnis ipsam ipsa
          nemo fugiat sit nesciunt rerum sed ad. In animi autem, amet ducimus
          illum maiores a excepturi quasi ipsam accusantium! Consequuntur ut
          laboriosam vitae rerum, magnam omnis atque odio! Dolorum quo nam ipsa
          dice neque atque rerum fugit quae? Temporaffffffff
		  lorum! Aliquam odio quod ipsa fugiat aliquid atque!
          Perspiciatis nam alias eius consectetur unde similique molestias,
          quisquam soluta possimus vitae fugit blanditiis impedit, ut
          consequuntur quta quibusdam vel quam alias commodi
          aperiam! Reiciendis reprehenderit neque, perspiciatis similique sit
          accusantium dolores, autem laudantium asperiores possimus repellat,
          corrupti perferendis cumque veniam dignisslorum! Aliquam odio quod ipsa fugiat aliquid atque!
          Perspiciatis nam alias eius consectetur unde similique molestias,
          quisquam soluta possimus vitae fugit blanditiis impedit, ut
          consequuntur quta quibusdam vel quam alias commodi
          aperiam! Reiciendis reprehenderit neque, perspiciatis similique sit
          accusantium dolores, autem laudantium asperiores possimus repellat,
          corrupti perferendis cumque veniam dignissimos! Itaque tempore
          consequuntur laudantium? Cumque possimus sint officia ratione
          sapiente. Modi, illo exercitationem nobis commodi magni voluptates
          explicabo. Quis blanditiis velit voluptate libero repellat accusamus
          laudantium minima! Vitae hic dolorum repellat? Error neque quas,
          voluptatem hic fugiat nostrum repudiandae est. Perspiciatis, vel
          cumque excepturi, unde explicabo consequuntur maiores ab sapiente nisi
          ipsum, nam repudiandae voluptatem doloremque libero omnis ipsam ipsa
          nemo fugiat sit nesciunt rerum sed ad. In animi autem, amet ducimus
          illum maiores a excepturi quasi ipsam accusantium! Consequuntur ut
          laboriosam vitae rerum, magnam omnis atque odio! Dolorum quo nam ipsa
          dice neque atque rerum fugit quae? Temporafffffffflorum! Aliquam odio quod ipsa fugiat aliquid atque!
          Perspiciatis nam alias eius consectetur unde similique molestias,
          quisquam soluta possimus vitae fugit blanditiis impedit, ut
          consequuntur quta quibusdam vel quam alias commodi
          aperiam! Reiciendis reprehenderit neque, perspiciatis similique sit
          accusantium dolores, autem laudantium asperiores possimus repellat,
          corrupti perferendis cumque veniam dignissimos! Itaque tempore
          consequuntur laudantium? Cumque possimus sint officia ratione
          sapiente. Modi, illo exercitationem nobis commodi magni voluptates
          explicabo. Quis blanditiis velit voluptate libero repellat accusamus
          laudantium minima! Vitae hic dolorum repellat? Error neque quas,
          voluptatem hic fugiat nostrum repudiandae est. Perspiciatis, vel
          cumque excepturi, unde explicabo consequuntur maiores ab sapiente nisi
          ipsum, nam repudiandae voluptatem doloremque libero omnis ipsam ipsa
          nemo fugiat sit nesciunt rerum sed ad. In animi autem, amet ducimus
          illum maiores a excepturi quasi ipsam accusantium! Consequuntur ut
          laboriosam vitae rerum, magnam omnis atque odio! Dolorum quo nam ipsa
          dice neque atque rerum fugit quae? Temporafffffffflorum! Aliquam odio quod ipsa fugiat aliquid atque!
          Perspiciatis nam alias eius consectetur unde similique molestias,
          quisquam soluta possimus vitae fugit blanditiis impedit, ut
          consequuntur quta quibusdam vel quam alias commodi
          aperiam! Reiciendis reprehenderit neque, perspiciatis similique sit
          accusantium dolores, autem laudantium asperiores possimus repellat,
          corrupti perferendis cumque veniam dignissimos! Itaque tempore
          consequuntur laudantium? Cumque possimus sint officia ratione
          sapiente. Modi, illo exercitationem nobis commodi magni voluptates
          explicabo. Quis blanditiis velit voluptate libero repellat accusamus
          laudantium minima! Vitae hic dolorum repellat? Error neque quas,
          voluptatem hic fugiat nostrum repudiandae est. Perspiciatis, vel
          cumque excepturi, unde explicabo consequuntur maiores ab sapiente nisi
          ipsum, nam repudiandae voluptatem doloremque libero omnis ipsam ipsa
          nemo fugiat sit nesciunt rerum sed ad. In animi autem, amet ducimus
          illum maiores a excepturi quasi ipsam accusantium! Consequuntur ut
          laboriosam vitae rerum, magnam omnis atque odio! Dolorum quo nam ipsa
          dice neque atque rerum fugit quae? Temporaffffffffimos! Itaque tempore
          consequuntur laudantium? Cumque possimus sint officia ratione
          sapiente. Modi, illo exercitationem nobis commodi magni voluptates
          explicabo. Quis blanditiis velit voluptate libero repellat accusamus
          laudantium minima! Vitae hic dolorum repellat? Error neque quas,
          voluptatem hic fugiat nostrum repudiandae est. Perspiciatis, vel
          cumque excepturi, unde explicabo consequuntur maiores ab sapiente nisi
          ipsum, nam repudiandae voluptatem doloremque libero omnis ipsam ipsa
          nemo fugiat sit nesciunt rerum sed ad. In animi autem, amet ducimus
          illum maiores a excepturi quasi ipsam accusantium! Consequuntur ut
          laboriosam vitae rerum, magnam omnis atque odio! Dolorum quo nam ipsa
          dice neque atque rerum fugit quae? Temporaffffffff
          voluptatibus quidem modi, nesciunt culpa harum debitis excepturi
          corporis fugit sint nemo consequatur. Illum est blanditiis recusandae
          incidunt
        </p>
	
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti non
          atque nihil porro. Eos, sint. Sit dolore, labore vitae provident
          suscipit doloremque tempora qui distinctio, et excepturi alias odit
          eligendi!
        </p>
      </div>
	  
    </div>

    <!-- 	jquery .js-->
    <script src="./js/jquery-3.6.0.min.js"></script>
    <!-- 	popper.js -->
    <script src="./js/popper.min.js"></script>
    <!-- bootstrap .js -->
    <script src="./js/bootstrap.js"></script>
  </body>
</html>
