<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<!-- 	bootstrap css-->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/styleRow-Columns.css" />
<title>Document</title>
</head>
<body>
	<h6 class="text-center">alineacion horizontal main axis</h6>

	<!--alineacion de columnas start-->
	<div class="row justify-content-start">
		<div class="col-3  bgst">col1</div>
		<div class="col-3  bgst">col2</div>
		<div class="col-3  bgst">col3</div>
	</div>
	<!--alineacion de columnas centrar-->
	<div class="row justify-content-center">
		<div class="col-3  bgos">col1</div>
		<div class="col-3  bgos">col2</div>
		<div class="col-3  bgos">col3</div>
	</div>
	<!--alineacion de columnas END-->
	<div class="row justify-content-end">
		<div class="col-3  bgend">col1</div>
		<div class="col-3  bgend">col2</div>
		<div class="col-3  bgend">col3</div>
	</div>
	<!--alineacion de columnas deja un espacio ente ellas-->
	<div class="row justify-content-around">
		<div class="col-3  bges">col1</div>
		<div class="col-3  bges">col2</div>
		<div class="col-3  bges">col3</div>
	</div>
	<!--alineacion de columnas deja un espacio ente ellas-->
	<div class="row justify-content-between">
		<div class="col-3  bgfila">col1</div>
		<div class="col-3  bgfila">col2</div>
		<div class="col-3  bgfila">col3</div>
	</div>
	<!--DESPLASAMIENTO POR TAMAÑO-->
	<div class="row">
		<div class="col-3 offset-md-4 bgd">desplaz</div>
	</div>
	<!--margen-->
	<div class="row">
		<div class="col-3 mr-auto bgm">desplaz</div>
		<div class="col-3 bgm">desplaz</div>
	</div>
	<!-- 	jquery .js-->
	<script src="/js/jquery-3.6.0.min.js"></script>
	<!-- 	popper.js -->
	<script src="/js/popper.min.js"></script>
	<!-- bootstrap .js -->
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>