<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<!-- 	bootstrap css-->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/styleRow-Columns.css" />
<title>Document</title>
</head>
<body>
	<h1 class="text-center">hello</h1>

	<div class="container">
		<div class="row bgani">
			<div class="col-6 colani1">Columna1
				<div class="row subp">
					<div class="col">subc1</div>
					<div class="col">subc2</div>
				</div>
			</div>
			<div class="col-6">Columna2</div>
		</div>
		
	</div>

	<!-- 	jquery .js-->
	<script src="js/jquery-3.6.0.min.js"></script>
	<!-- 	popper.js -->
	<script src="js/popper.min.js"></script>
	<!-- bootstrap .js -->
	<script src="js/popper.min.js"></script>
</body>
</html>