<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <!-- 	bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <title>Document</title>
    <style>
      .caja {
        height: 135px;
      }
    </style>
  </head>
  <body>
    <h1 class="text-center">hello</h1>
    <div class="container">
      <div class="row">
        <div class="col-3 bg-warning mr-3 overflow-auto caja">
          <p class="text-danger">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam,
            reprehenderit id. Cupiditate architecto doloremque quaerat
            perferendis ratione. Officiis consequuntur iste laboriosam dolorum
            soluta ut velit? Unde delectus aliquid doloremque maiores.
          </p>
        </div>
        <div class="col-3 bg-info overflow-hidden caja">
          <p class="text-warning">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            nesciunt inventore nisi iste voluptate id beatae tenetur quis vitae
            unde consectetur officia quaerat eligendi vero voluptatem odio,
            pariatur natus maxime.
          </p>
        </div>
      </div>
      <!-- clase de sombras -->
      <div class="row row-cols-1">
        <div class="mb-4 p-2 shadow-sm">sombra pequeña</div>
        <div class="mb-4 p-2 shadow">sombra regular</div>
        <div class="mb-4 p-2 shadow-lg">sombra grande</div>
        <div class="bg-light shadow-none">sin sombra</div>
      </div>
    </div>
    <!-- 	jquery .js-->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- 	popper.js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap .js -->
    <script src="./js/bootstrap.js"></script>
  </body>
</html>
