<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<!-- 	bootstrap css-->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/styleRow-Columns.css">
<title>Document</title>
</head>
<body>
	<h1 class="text-center">hello</h1>
	<p class="bg-primary d-inline">parra1</p>
	<p class="bg-secondary d-md-inline">parra2</p>
	
	<span class="bg-info d-block">por default is inline 1</span>
	<span class="bg-info d-none">por default is inline</span>
	<h2>One piece</h2>
	<div class="embed-responsive embed-responsive-16by9 medida">
		<iframe width="160" class="embed-responsive-item" height="115"
			src="https://www.youtube.com/embed/n9vKvMDXk1k"
			title="YouTube video player" frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen></iframe>
	</div>
	<!-- 	jquery .js-->
	<script src="js/jquery-3.6.0.min.js"></script>
	<!-- 	popper.js -->
	<script src="js/popper.min.js"></script>
	<!-- bootstrap .js -->
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>