<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<!-- 	bootstrap css-->
<link rel="stylesheet" href="css/bootstrap.css" />
<title>Document</title>
</head>
<body>
	<h1 class="text-center">hello</h1>
	
	<div class="container">
		<div class="row bg-info">
			<div class="bg-primary mb-2 px-3 border border-danger">hoola</div>
			<div class="w-100"></div>
			<div class="bg-success ml-5 px-3 border border-danger">hola 2</div>	
			<div class="w-100"></div>
			<div class="bg-danger ml-1 px-4 border border-danger mx-auto">hola 3</div>	
			<div class="w-100"></div>
			<div class="bg-white ml-n5 px-4 border border-danger">hola 4</div>
		</div>
	</div>
	
	
	<!-- 	jquery .js-->
	<script src="js/jquery-3.6.0.min.js"></script>
	<!-- 	popper.js -->
	<script src="js/popper.min.js"></script>
	<!-- bootstrap .js -->
	<script src="./js/bootstrap.js"></script>
</body>
</html>