<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <!-- 	bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="text-center">hola</h1>

    <div class="position-static bg-info">..ESTATIC.</div>
    <div class="position-relative bg-warning">..RELATIVE.</div>
    <div class="position-absolute">.ABSOLUTE..</div>
    <div class="position-fixed">..FIXED.</div>
    <div class="position-sticky">..STYCKY.</div>

    <!-- 	jquery .js-->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- 	popper.js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap .js -->
    <script src="./js/bootstrap.js"></script>
  </body>
</html>
